body{ background: url('bgpurp.jpg') no-repeat center center fixed;
    background-size: cover;}
  
  
  body
    .col {
      background-color: #7213b1e3;
      border: 1px solid #29084edc;
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
    }

    .col-8, .col-4 {
      background-color: #7213b1da;
      border: 1px solid #29084edc;
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
    }